*,::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(-120deg,#481875,#11031f);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;

}

.form_box{
    display: auto;
    flex-direction: column;
    background-color: #d5d0d0;
    border-radius: 10px;
    width: 550px;
}
.form_box .title{
    padding: 24px 200px;
    font-size: 24px;
    border-bottom: thin solid #ccc;
}
.form_box form{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 15px;
}

.form_box input{
    width: calc(80% - 8px);
    height: 20px;
    border-radius: 8px;
    border: thin solid #999;
    padding-left: 16px;
    margin-bottom: 20px;
    font-size: 16px;
}
.form_box input:first-child{
    margin-right: 16px;

}
.form_box label{
    width: calc(50% - 25px);
    height: 28px;
    border-radius: 8px;
    border: thin solid #999;
    padding-left: 16px;
    margin-bottom: 20px;
    font-size: 16px;
}
select{
    border-radius: 8px;
    height: 28px;
}
.form_box button{
    display: block;
    border: none;
    outline: none;
    width: 180px;
    height: 25px;
    border-radius: 8px;
    background-color: #6c5086;
    font-size: bold;
    cursor: pointer;
    margin: 0 auto;
}
@media (max-width: 767px) { /*CELULAR*/
    #celular{
        color: red;
    }
    #desktop{
        color: blueviolet;
        opacity: 0%;
    }
}
@media (min-width: 1024px){/*DESKTOP*/
    #desktop{
        color: blueviolet;
    }
    #celular{
        color: red;
        opacity: 0;
    }
}


